<header>
  <nav>
    <div class="head-section layout">
      <div class="nav-bar align-center">
        <div class="logo uppercase f-w-700 letter-spacing2">
          <h1>Ronak Maniya</h1>
        </div>
        <div class="nav-links">
          <ul class="flex f-w-600">
            <li><a class="a2" href="index.html">Home</a></li>
            <li><a class="a1" href="academics.html">Academics</a></li>
            <li><a class="a1" href="hobbies.html">Hobbies</a></li>
            <li><a class="a1" href="experience.html">Achievements</a></li>
            <li><a class="a1" href="startup_ideas.html">Startup ideas</a></li>
            <li>
              <a class="a1" href="slogan_Spectrum.html">Slogan Spectrum</a>
            </li>
            <li><a class="a1" href="contact.html">Contact Us</a></li>
            <li>
              <form action="feedback_form.html" method="get">
                <a href="feedback_form.html">
                  <button class="btn btn2">Feedback</button>
                </a>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
